@{
    ViewBag.Title = "EOC - Incident Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ui-view></div>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/eoc/dashboard.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/eoc/incident-management.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/eoc/position-log-mgmt-ctrl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/eoc/incident-timeline-ctrl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/eoc/significant-events-ctrl.js")" type="text/javascript"></script>
}