@model Spectrum.Web.Models.UserViewModel

<div class="modal-dialog" ng-controller="identityFocusController">
    <div class="modal-header">
        <h4 class="modal-title">Change Identity Focus</h4>
        <small class="font-bold">Select the user organization and role to access the information in that context</small>
    </div>

    <div class="modal-body">
        <form method="get" class="form-horizontal">

            <div class="form-group">

                <div class="row">
                    <div class="col-md-7 dropdown">
                        <label for="Organization">Organization</label>
                        <div id="Organization" class="orm-control m-b">
                            <select class="form-control m-b" name="SelectedOrganizationId" ng-model="identityFocusViewModel">
                                @foreach (var m in Model.UserOrganizations)
                                {
                                    <option value="@m.OrganizationId">@m.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="Role">Role</label>
                        <div id="Role" class="orm-control m-b">
                            <select class="form-control m-b" name="SelectedRoleId" ng-model="identityFocusViewModel">
                                @foreach (var r in Model.UserRoles)
                                {
                                    <option value="@r.RoleId">@r.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <label for="Position">Position</label>
                        <div id="Position" class="orm-control m-b">
                            @*@Html.DropDownListFor(x => x.SelectedRoleId, new SelectList(Model.UserPositions, "PositionId", "Name", Model.SelectedPositionId), new { @class = "form-control m-b" })*@
                            <select class="form-control m-b" name="SelectedPositionId" ng-model="identityFocusViewModel">
                                @foreach (var p in Model.UserPositions)
                                {
                                    <option value="@p.PositionId">@p.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-success" ng-click="ok(model)">Change Focus</button>
</div>