<div class="color-line">
</div>
<div id="logo" class="light-version">
    <div class="">
        <span>
            EM Suite Beta
        </span>
    </div>
</div>
<nav role="navigation">
    <minimaliza-menu></minimaliza-menu>
    @*<div class="small-logo">
            <span class="text-primary">Emergency Management</span>
        </div>*@
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Enter search term..." class="form-control" name="search">
        </div>
    </form>

    <div class="navbar-right">

        <ul class="nav navbar-nav no-borders">
            <li class="dropdown" ng-controller="identityFocusController">
                <a class="dropdown-toggle identity-focus" ng-click="changeFocus()">
                    <i class="pe pe-7s-id if-icon"></i>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span uib-popover-template="'/Templates/Portal/IdentityPopover'" @*note: the single tick quoting - critical*@
                              popover-placement="bottom-left"
                              popover-trigger="mouseenter" 
                              class="label label-info if-label">{{ currentUser.userName }}</span>

                    }
                </a>
            </li>

            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle" href="#" uib-dropdown-toggle>
                    <i class="pe pe-7s-angle-down-circle"></i>
                </a>

                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index", "Contact", new { Area = string.Empty })">
                                        <i class="pe pe-7s-user-female text-info"></i>
                                        <h5>Contacts</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "User", new { Area = string.Empty })">
                                        <i class="pe pe-7s-users text-info"></i>
                                        <h5>Users</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Organization", new { Area = string.Empty })">
                                        <i class="pe pe-7s-global text-info"></i>
                                        <h5>Organizations</h5>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index", "FileManager", new { Area = string.Empty })">
                                        <i class="pe pe-7s-folder text-info"></i>
                                        <h5>Files</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Community", new { Area = string.Empty })">
                                        <i class="pe pe-7s-chat text-info"></i>
                                        <h5>Community</h5>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index", "Settings", new { Area = string.Empty })">
                                        <i class="pe pe-7s-config text-info"></i>
                                        <h5>Settings</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Billing", new { Area = string.Empty })">
                                        <i class="pe pe-7s-credit text-info"></i>
                                        <h5>Billing</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Help", new { Area = string.Empty })">
                                        <i class="pe pe-7s-help1 text-warning"></i>
                                        <h5>Help</h5>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle" href="#" uib-dropdown-toggle>
                    <i class="pe-7s-speaker"></i>
                </a>
                <ul class="dropdown-menu hdropdown notification animated flipInX">
                    <li>
                        <a>
                            <span class="label label-success">NEW</span> Update: Wild Canyon Fire has been 80% contained.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-danger">MSG</span> Request for volunteers in Jefferson County MO.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-danger">SYS</span> System advisory message: slowness in planning module under investigation.
                        </a>
                    </li>
                    <li class="summary">
                        <a href="#">See all notifications</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle label-menu-corner" href="#" uib-dropdown-toggle>
                    <i class="pe-7s-mail"></i>
                    <span class="label label-warning">4</span>
                </a>
                <ul class="dropdown-menu hdropdown animated flipInX">
                    <div class="title">
                        You have 4 new messages
                    </div>
                    <li>
                        <a>
                            RE: Wild Canyon Fire
                        </a>
                    </li>
                    <li>
                        <a>
                            Volunteers in Jefferson County
                        </a>
                    </li>
                    <li>
                        <a>
                            Mutual aid request response
                        </a>
                    </li>
                    <li>
                        <a>
                            Governor briefed
                        </a>
                    </li>
                    <li class="summary">
                        <a href="@Url.Action("Index", "Messages", new { Area = string.Empty })">See all Messages</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle label-menu-corner" href="#" uib-dropdown-toggle>
                    <i class="pe-7s-user"></i>
                </a>
                <ul class="dropdown-menu hdropdown animated flipInX">
                    <div class="title">
                        Your Login
                    </div>
                    <li class="bigmenu no-padding">
                        <a href="@Url.Action("Index", "Manage", new {Area = string.Empty})">
                            <i class="pe pe-7s-info text-info"></i>
                            <h5>Manage Your Account</h5>
                        </a>
                    </li>
                    <li>
                        @Html.ActionLink("Log in", "Login", "Account", new { Area = string.Empty }, htmlAttributes: new { id = "loginLink" })
                    </li>
                    <li>
                        @Html.ActionLink("Register", "Index", "Registration", new { Area = string.Empty }, htmlAttributes: new { id = "registerLink" })
                    </li>
                    <li>
                        @Html.ActionLink("Sign Out", "SignOut", "Account", new { Area = string.Empty }, htmlAttributes: new { id = "signOutLink" })
                    </li>
                    <li class="summary">
                        <a></a>
                    </li>
                </ul>
            </li>
        </ul>
</div>
</nav>