<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>Spectrum Operational | @ViewBag.Title</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

    @Styles.Render("~/bundles/main/vendor")
    @Styles.Render("~/Content/css")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

</head>
<body class="blank">

<!-- Simple splash screen-->
<div class="splash">
    <div class="color-line"></div>
    <div class="splash-title">
        <h1>Spectrum Operational - Emergency Management Suite</h1>
        <p>
            The ultimate collaborative suite for emergency management teams and organizations.
        </p><img height="64" src="~/Content/images/loading-bars.svg" width="64" />
    </div>
</div>

<div class="color-line"></div>

<div class="m pull-left">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Homepage</a>
</div>

<!-- Main view -->
@RenderBody()

<!-- Order does matter -->
@Scripts.Render("~/bundles/vendor/jquery")
@Scripts.Render("~/bundles/vendor/bootstrap")
@Scripts.Render("~/bundles/vendor/angular")
@Scripts.Render("~/bundles/vendor/misc")
@Scripts.Render("~/bundles/app/main")

<!-- Handler for local scripts -->
@RenderSection("scripts", required: false)

</body>
</html>