<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>Spectrum Operational | @ViewBag.Title</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

    @Styles.Render("~/bundles/vendor/styles/main")
    @Styles.Render("~/Content/css")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", false)
    }
</head>

<body class="landing-page">

<!-- Simple splash screen-->
<div class="splash">
    <div class="color-line"></div>
    <div class="splash-title">
        <h1>Spectrum Operational - Emergency Management Suite</h1>
        <p>
            The ultimate collaborative suite for emergency management teams and organizations.
        </p><img height="64" src="~/Content/images/loading-bars.svg" width="64" />
    </div>
</div>

<!-- Main view -->
@RenderBody()

@Scripts.Render("~/bundles/vendor")

<!-- Handler for local scripts -->
@RenderSection("scripts", false)
</body>
</html>