@using Spectrum.Web.Helpers
<div id="navigation">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src="~/Content/images/profile.png" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold">Emergency Management Suite</span>
            <div class="dropdown" dropdown>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a ui-sref="app_views.contacts">Contacts</a></li>
                    <li><a ui-sref="app_views.profile">Profile</a></li>
                    <li><a ui-sref="analytics">Analytics</a></li>
                    <li class="divider"></li>
                    <li><a ui-sref="common.login">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span> <span class="label label-info pull-right">v.1</span> </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="analytics"> <span class="nav-label">Analytics</span><span class="label label-warning pull-right">NEW</span> </a>
        </li>
        <li ng-class="{active: $state.includes('administration')}">
            <a href="#"><span class="nav-label">Administration</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('interface')}">
                <li class="@Html.IsSelected(action: "Users")"><a href="@Url.Action("UsersPanelIndex", "Users")">Manage Users<span class="label label-info pull-right">GRID</span> </a></li>
                <li class="@Html.IsSelected(action: "Organizations")"><a href="@Url.Action("OrganizationIndex", "Organization")">Manage Organizations</a></li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Index", "Contacts")">Contacts</a></li>
            </ul>
        </li>
        <li ng-class="{'active': $state.includes('EOC') || $state.includes('blog_details')}">
            <a href="#"><span class="nav-label">EOC</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Dashboard")"><a href="@Url.Action("", "")">Dashboard</a></li>
                <li class="@Html.IsSelected(action: "Timeline")"><a href="@Url.Action("", "")">Events Timeline</a></li>
                <li class="@Html.IsSelected(action: "Checklists")"><a href="@Url.Action("", "")">Checklists</a></li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("", "")">Contacts</a></li>
                <li class="@Html.IsSelected(action: "Files")"><a href="@Url.Action("", "")">Files</a></li>
                <li class="@Html.IsSelected(action: "Action Plans")"><a href="@Url.Action("", "")">Action Plans</a></li>
                <li class="@Html.IsSelected(action: "Media")"><a href="@Url.Action("", "")">Press and Media</a></li>
                <li class="@Html.IsSelected(action: "Action Plans")"><a href="@Url.Action("", "")">Action Plans</a></li>
                <li class="@Html.IsSelected(action: "Shelters")"><a href="@Url.Action("", "")">Shelters</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('excercises')}">
            <a href="#"><span class="nav-label">Excercises</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Tabletop")"><a href="@Url.Action("Action", "Controller")">Tabletop</a></li>
                <li class="@Html.IsSelected(action: "Full Scale")"><a href="@Url.Action("Action", "Controller")">Full Scale</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('intelligence')}">
            <a href="#"><span class="nav-label">Intelligence</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Action", "Controller")">Geospatial</a></li>
                <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Action", "Controller")">Social Networks</a></li>
                <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Action", "Controller")">Hazard Analysis</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('planning')}">
            <a href="#"><span class="nav-label">Planning</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "EOP")"><a href="@Url.Action("Action", "Controller")">Emergency Opearions Plan CPG 101)</a></li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Action", "Controller")">Annexes</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('response')}">
            <a href="#"><span class="nav-label">Response</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Overview")"><a href="@Url.Action("Action", "Controller")"><span class="label label-success pull-right">Create Response</span> Overview </a>  </li>
                <li class="@Html.IsSelected(action: "ColumnsFromUp")"><a href="@Url.Action("Action", "Controller")">ICS</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('recovery')}">
            <a href="#"><span class="nav-label">Recovery</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('forms')}">
                <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Action", "Controller")">Right of Entry Manger</a></li>
                <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Action", "Controller")">Track Resources</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('simulations')}">
            <a href="#"><span class="nav-label">Simulations</span><span class="fa arrow"></span> </a>

                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Simulations")"><a href="@Url.Action("Action", "Controller")">Simulations</a></li>
                </ul>
        </li>
    </ul>
</div>